.Scene {
    min-width: 300px;
    cursor: move;
    min-height: 500px;

}
.Scene__Collapse {
    position: absolute !important;
    top: 0;
    min-height: 100px;
    background: #fff;
}


@media screen and (max-width: 403px) {
    .Scene {
        margin: auto;

    }
    .Scene.Card_Animate--Center {
        transform: translateY(50%);
        transition: all 0.25s ease-in-out;
    }
    
}